<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BooksMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BooksMvc.styles.css" asp-append-version="true" />
</head>
<body>
   <partial name = "Partial/_Header"/>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name = "Partial/_Footer"/>   
    <partial name = "Partial/_Scripts"/>

    @await RenderSectionAsync("Scripts", required: false)
 </body>
</html>
